.avtorisator {
    float: right;
    word-break: break-all;
}
body {
    margin: 0;
    background-color: #ffffff;
    background: url("https://oir.mobi/uploads/posts/2021-03/1616616055_54-p-raduzhnii-fon-razmitii-58.jpg");
}
.closing-button {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0 2px white;
    padding: 20px 0;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}
.button {
    word-break: break-all;
}
.closing-button span {
    font-family: 'Libre Bodoni', sans-serif;
    position: relative;
    z-index: 5;
}
.closing-button:before, .closing-button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.closing-button:before {
    transform: translateX(-100%);
    background: white;
    transition: transform .3s cubic-bezier(.55, .055, .675, .19);
}
.closing-button:after {
    background: #f4bd31;
    transform: translateX(100%);
    transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
}
.closing-button:hover:before, .closing-button:hover:after {
    transform: translateX(0);
}
.img {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    height: 50%;
}
.info {
    padding-top: 2%;
    padding-left: 5%;
}
.info1 {
    width: 70%;
    font-size: 200%;
    border-bottom: 1px solid black;
    font-family: 'Libre Bodoni', sans-serif;
    margin-bottom: 1%;
    margin-right: 1%;
}
.info2 {
    width: 90%;
    font-size: 150%;
    font-family: 'Libre Bodoni', sans-serif;
    margin: 0;
}
.content {
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 4%;
    display: inline-flex;
}
.mobile {
    margin-right: 0%;
}
.cont {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Libre Bodoni', sans-serif;
    text-align: center;
    color: #524f4e;
    padding-top: 3%;
}
.img3 {
    width: 500px;
    height:350px;
    margin-right: 9%;
}
.img4 {
    width: 500px;
    margin-left: 9%;
    height: 350px;
}
.imges {
    margin: 5%;
    justify-content: center;
    display: flex;
    align-items: center;

}
.img5 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.text1 {
    padding-left: 15%;
    margin-right: 15%;
    font-family: 'Libre Bodoni', sans-serif;
    font-size: 25px;
    padding-top: 6%;
    position: absolute;
    color: white;
}
.img6 {
    padding-left: 30%;
    margin-right: 15%;
    padding-top: 3%;
    width: 40%;
    height: 10%;
}
.gallery {
    padding-top: 4%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.buttonGallery1{
    position:fixed;
    left: 15vw;
    top: 24vw;
    }
.buttonGallery2{
    position:fixed;
    left: 79vw;
    top: 24vw;
    }
#mainImage {
    width: 800px;
    height: 450px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.elementImage {
    height: 40vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.labs {
    text-align: center;
    font-size: 20px;
    padding-top: 3%;
    font-family: 'Libre Bodoni', sans-serif;
}
.userinfo {
    font-family: 'Libre Bodoni', sans-serif;
    text-align: center;
}
.row {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    text-align: center;
    font-family: 'Libre Bodoni', sans-serif;
}
.adminpanel {
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 1%;
    text-align: center;
    font-family: 'Libre Bodoni', sans-serif;
}
.tabletext {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Libre Bodoni', sans-serif;
}
.userImage {
    padding-left: 38%;
}
.tabl {
    padding-left: 27%;
}
@media (max-width: 1350px) {
    .closing-button {
        height: 17px;
        width: 100px;
        font-size: 75%;
        font-weight: 900;
    }
    .tabl {
        padding-left: 24%;
    }
}
@media (max-width: 1010px) {
    .closing-button {
        width: 70px;
        height: 11px;
        font-size: 65%;
    }
    .tabl {
        padding-left: 17%;
    }
}
@media (max-width: 794px) {
    .closing-button {
        width: 70px;
        height: 11px;
        font-size: 65%;
        margin: 10px;
    }
    .info {
        font-size: 60%;
        padding-top: 10%;
        height: 10%;
    }
    .img {
        padding-top: 10%;
        width: 90%;
        height: 30%;
    }
    .img5 {
        padding-top: 30%;
    }
    .text1 {
        padding-top: 10%;
        color: #000;
        font-size: 15px;
    }
    .tabl {
        padding-left: 10%;
    }
    
}
@media (max-width: 657px) {
    .avtorisator {
        float: left;
        margin-right: 50%;
    }
    .closing-button {
        width: 70px;
        height: 11px;
        font-size: 65%;
        margin: 10px;
    }
    .userImage {
        padding-top: 10%;
        padding-left: 25%;
        width: 200px;
        height: 200px;
    }
    .adminpanel {
        padding-left: 0;
        padding-right: 0;
    }
    .admininput {
        justify-content: center;
    }
}
@media (max-width: 473px) {
    .avtorisator {
        word-break: break-all;
        float: right;
        padding-right: 5px;
        margin-right: 0%;
    }
    .closing-button {
        width: 70px;
        height: 11px;
        font-size: 65%;
        margin: 10px;
    }
    .img5 {
        padding-top: 60%;
    }
    .buttonGallery1 {
        left: 15vw;
        top: 170vw;
    }
    .buttonGallery2 {
        left: 57vw;
        top: 170vw;
    }
    .img3 {
        margin-right: 50%;
    }
    .img4 {
        margin-left: 50%;
    }
    .tabl {
        padding-left: 4%;
    }
}
@media (max-width: 374px) {
    .avtorisator {
        float: right;
        margin-right: 0%;
    }
    .closing-button {
        width: 66px;
        font-size: 65%;
    }
}