.avtorisator {
    float: right;
}
body {
    margin: 0;
    background-color: #ffffff;
    background: url("https://oir.mobi/uploads/posts/2021-03/1616616055_54-p-raduzhnii-fon-razmitii-58.jpg");
}
.closing-button {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0 2px white;
    padding: 20px 0;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}
.closing-button span {
    font-family: 'Libre Bodoni', sans-serif;
    position: relative;
    z-index: 5;
}
.closing-button:before, .closing-button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.closing-button:before {
    transform: translateX(-100%);
    background: white;
    transition: transform .3s cubic-bezier(.55, .055, .675, .19);
}
.closing-button:after {
    background: #f4bd31;
    transform: translateX(100%);
    transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
}
.closing-button:hover:before, .closing-button:hover:after {
    transform: translateX(0);
}
.img {
    margin-top: 20%;
    width: 100%;
}
.info {
    width: 50%;
    padding: 5%;
}
.info1 {
    width: 70%;
    font-size: 200%;
    border-bottom: 1px solid black;
    font-family: 'Libre Bodoni', sans-serif;
    margin-bottom: 5%;
    margin-right: 1%;
}
.info2 {
    width: 90%;
    font-size: 150%;
    font-family: 'Libre Bodoni', sans-serif;
    margin: 0;
}
.content {
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    height: 600px;
    margin-top: 4%;
    display: inline-flex;
}
@media (max-width: 1200px) {
    .content {
        max-width: 1050px;
    }
}
@media (max-width: 1060px) {
    .content {
        max-width: 900px;
    }
}
@media (max-width: 910px) {
    .content {
        max-width: none;
    }
}
.cont {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Libre Bodoni', sans-serif;
    text-align: center;
    color: #524f4e;
    padding-top: 3%;
}
.img3 {
    width: 500px;
    height:350px;
    margin-right: 9%;
}
.img4 {
    width: 500px;
    margin-left: 9%;
    height: 350px;
}
.imges {
    margin: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.img5 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
.text1 {
    padding-left: 15%;
    margin-right: 15%;
    font-family: 'Libre Bodoni', sans-serif;
    padding-top: 6%;
    font-size: 30px;
    position: absolute;
    color: white;
}
.img6 {
    padding-left: 30%;
    margin-right: 15%;
    padding-top: 3%;
    width: 40%;
    height: 10%;
}
.gallery {
    padding-top: 6%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.buttonGallery1{
    position:fixed;
    left: 15vw;
    top: 25vw;
    }
.buttonGallery2{
    position:fixed;
    left: 79vw;
    top: 25vw;
    }
#mainImage {
    width: 800px;
    height: 450px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.elementImage {
    width: 800px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.labs {
    text-align: center;
    font-size: 20px;
    padding-top: 3%;
    font-family: 'Libre Bodoni', sans-serif;
}
.userinfo {
    font-family: 'Libre Bodoni', sans-serif;
    text-align: center;
}
.userImage {
    text-align: center;
}